.title {
    text-align: center;
    font-size: 60px;
    font-family:monospace;
    color: azure;
    word-spacing: -15px;
    letter-spacing: -1.5px;
}

.videocardButton {
    width: 43%;
    height: 36%;
    background-color:#15232e;
    top: 12%;
    left: 4.5%;
    position: absolute;
    text-align: center;
}

.cpuButton {
    width: 43%;
    height: 36%;
    background-color:#15232e;
    top: 12%;
    right: 4.5%;
    position: absolute;
    text-align: center;
    
}

.motherButton {
    width: 43%;
    height: 36%;
    background-color:#15232e;
    top: 54%;
    left: 4.5%;
    position: absolute;
    text-align: center;
}

.ramButton {
    width: 43%;
    height: 36%;
    background-color:#15232e;
    top: 54%;
    right: 4.5%;
    position: absolute;
    text-align: center;
}

.backArrow{
    text-align: left;
}

.videocardParagraph {
    text-align: left;
    font-size: 20px;
    color:azure;
    padding-left: 40px;
    padding-right: 500px;
    font-family: monospace;
    line-height: 30px;
    padding-top: 20px;
}